@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

 .search-box {
	 font-size: 14px;
	 border: solid 0.2em white;
	 display: inline-block;
	 position: relative;
	 border-radius: 2.5em;
}
 .search-box input[type="text"] {
	 font-family: inherit;
	 font-weight: bold;
	 background-color: black;
	 color: white;
	 width: 2em;
	 height: 2em;
	 padding: 0.3em 1.6em 0.3em 0.4em;
	 border: none;
	 box-sizing: border-box;
	 border-radius: 2.5em;
	 transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
 .search-box input[type="text"]:focus {
	 outline: none;
}
 .search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
	 width: 20em;
	 transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
 .search-box input[type="text"]:focus + button[type="reset"], .search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"] {
	 transform: rotate(-45deg) translateY(0);
	 transition: transform 150ms ease-out 800ms;
}
 .search-box input[type="text"]:focus + button[type="reset"]:after, .search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"]:after {
	 opacity: 1;
	 transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
 .search-box button[type="reset"] {
	 background-color: transparent;
	 width: 1.4em;
	 height: 1.4em;
	 border: 0;
	 padding: 0;
	 outline: 0;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 top: 0.55em;
	 right: 0.55em;
	 transform: rotate(-45deg) translateY(2.2em);
	 transition: transform 150ms ease-out 150ms;
}
 .search-box button[type="reset"]:before, .search-box button[type="reset"]:after {
	 content: "";
	 background-color: white;
	 width: 0.3em;
	 height: 1.4em;
	 position: absolute;
}
 .search-box button[type="reset"]:after {
	 transform: rotate(90deg);
	 opacity: 0;
	 transition: transform 150ms ease-out, opacity 150ms ease-out;
}










.setting-btn {
	width: 38px;
	height: 38px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	box-shadow: 0px 0px 0px 2px black;
  }
  .bar {
	width: 60%;
	height: 2px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 2px;
  }
  .bar::before {
	content: "";
	width: 2px;
	height: 2px;
	background-color: rgb(126, 117, 255);
	position: absolute;
	border-radius: 50%;
	border: 2px solid black;
	transition: all 0.3s;
	box-shadow: 0px 0px 5px white;
  }
  .bar1::before {
	transform: translateX(-4px);
  }
  .bar2::before {
	transform: translateX(4px);
  }
  .setting-btn:hover .bar1::before {
	transform: translateX(4px);
  }
  .setting-btn:hover .bar2::before {
	transform: translateX(-4px);
  }


.search{
	align-items: center;
}


.searched-books {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-top: 20px;
}
 