@import url('https://fonts.cdnfonts.com/css/fonseca');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
    color: #333;
}

.page {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: grey;
    color: #333;
    width: fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
}

.book-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.book-scroll::-webkit-scrollbar {
    display: none;
}

.book {
    display: inline-block;
    width: 160px;
    height: 256px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    cursor: pointer;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1 {
    font-family: 'Fonseca', sans-serif;
    font-size: 3em;
    color: white;
    text-align: center;
    width: fit-content;
}

h2 {
    font-family: 'Fonseca', sans-serif;
    color: black;
    font-size: 1.7em;
    margin: 0;
    margin-left: 1px;
    margin-bottom: 10px;
    width: fit-content;
}

h3 {
    font-family: 'Fonseca', sans-serif;
    color: black;
    font-size: 1em;
    margin: 0;
    width: fit-content;
}


header {
    display: flex;
    flex-direction: column;
    background-image: url('/resources/books.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.book-details {
    display: inline-flex;
    align-items: right;
    justify-content: space-between;
    width: fit-content;
}

.book-info {
    text-align: left;
    color: black;
    font-size: 1.15em;
    margin: 0;
}

.book-info input {
    background-color: grey;
    color: black;
    border: none;
    font-family: 'Fonseca', sans-serif;
    cursor: pointer;
}

.book-info input::placeholder {
    color: black;
    font-size: 1.3em;
    font-family: 'Fonseca', sans-serif;
}

textarea{
    background-color: grey;
}

textarea::placeholder{
    color: black;
    font-family: 'Fonseca', sans-serif;
}

select {
    background-color: grey;
    color: black;
    border: none;
    font-family: 'Fonseca', sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1em;
}


.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 20px;
    padding: 11px;
}

.navbar button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-family: 'Fonseca', sans-serif;
    font-size: 0.8em;
    margin: auto;
    -webkit-tap-highlight-color: transparent;

}

.book-button {
    display: inline-block;
    width: 120px;
    height: 192px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-image: url("/resources/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-color: grey;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-family: 'Fonseca', sans-serif;
    font-size: 0.8em;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
}
