body {
    background-color: black;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/resources/Bookshelf.jpg");
    filter: blur(5px);
    z-index: -1;
    /* Ensure the background layer is behind the content */
}

.page {
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-top: 0px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(12, 12, 12, 0.9)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
}

.book-scroll {
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: auto;
}

.book-scroll::-webkit-scrollbar {
    display: none;
}

.book {
    display: inline-block;
    width: 160px;
    height: 256px;
    border-radius: 22px;
    overflow: hidden;
    margin: 1px;
    cursor: pointer;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    background: rgba(12, 12, 12, 0.9);
    border-radius: 20px;
    padding: 11px;
}

.navbar button {
    background: rgba(12, 12, 12, 0.9);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-family: 'Fonseca', sans-serif;
    font-size: 0.8em;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
}

.navbar form {
    background-color: white;
    cursor: pointer;
    vertical-align: center;
    font-family: 'Fonseca', sans-serif;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
}

.book-button {
    display: inline-block;
    width: 120px;
    height: 192px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-image: url("/resources/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-color: grey;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    font-family: 'Fonseca', sans-serif;
    font-size: 0.8em;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
}

p {
    color: #d3d3d3;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3700ff;
}


.card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    max-width: fit-content;
    overflow: hidden;
    transition: all 0.3s;
    overflow: hidden;
    margin-right: 5px;
}

.card2 {
    border-radius: 0;
    transition: all 0.2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 22px;
}

.card:hover {
    box-shadow: 0px 0px 12px 0px rgba(0, 255, 117, 0.3);
    border-radius: 22px;
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button2:hover {
    background-color: black;
    color: white;
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button3:hover {
    background-color: red;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 2em;
}

p {
    color: #d3d3d3;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3700ff;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}







#back-button {
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}



#back-button:hover {
    background-color: black;
    color: white;
}

#back-button.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.user_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

.logout-button {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    margin-left: auto;
    float: right;
}

.logout-button:hover {
    background-color: black;
    color: white;
}





.book-details {
    display: inline-flex;
    align-items: right;
    justify-content: space-between;
    width: fit-content;
}

.book-info {
    text-align: left;
    color: white;
    font-size: 1.15em;
    margin: 10px;
    width: fit-content;
}

.book-info input {
    color: white;
    border: none;
    background-color: rgb(12, 12, 12);
    font-family: 'Fonseca', sans-serif;
    cursor: pointer;
}

.book-info input::placeholder {
    color: white;
    background-color: rgb(12, 12, 12);
    font-size: 1.3em;
    font-family: 'Fonseca', sans-serif;
}

textarea {
    cursor: default;
    background-color: rgb(12, 12, 12);
    color: white;
}

textarea::placeholder {
    color: white;
    background-color: rgb(12, 12, 12);
    font-family: 'Fonseca', sans-serif;
}

select {
    color: white;
    background-color: rgb(12, 12, 12);
    border: none;
    font-family: 'Fonseca', sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1em;
}